body{
    font-family: 'Montserrat';
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
padding: 3% 25% 7%;

}

#font{
    font-size: 3.5rem;
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 20px;
    

}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 7rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 2.5rem;
}

.title-image{
    width: 250px;
    transform: rotate(15deg);
    margin-bottom: 1rem;
     margin-left: 7rem;
     margin-top: 1rem; 
    /* position: absolute; */
    margin-right: 30%;

    

}
#features{
    
  padding: 7% 15%;
  /* position: relative; */
  /* z-index: 1; */
}
.feature-box{
    text-align: center;
    padding: 5%;
}
p{
    color: #8f8f8f;
}
h2{
    font-family: 'Ubuntu';
    line-height: 1.5rem;
    font-size: 3.5rem;
}
h3{
    font-family: 'Ubuntu';
    font-size: 1.5rem;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;

}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
@media(max-width:991px){

#title{
    text-align: center;
}

    .title-image{
        transform: rotate(0);
    }
}


#cta{
    color: #fff;
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}
.cta-heading{
    font-family: 'Ubuntu';
    font-size: 3.5rem;
    line-height: 1.5;


}
#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icon{
    margin: 20px 10px;
}